<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header>
    <div class="navbar-default">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">User Profile</a>
                    </li>
                </ul>
            </div>
            <div class="mx-auto order-0">
                <div class="logo-container">
                    <a class="navbar-brand" href="#"><img class="img-responsive" src="../img/NOMNOM.png"></a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="login.html">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="register.html">Register</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

</body>
</html>