@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color:#000808;
}
body { 
  background-color: #f4dada;
}
a {
  color: #ff989b;
}

.navbar{
  padding: .8rem;
  
}
.navbar-nav li{
padding-right: 20px;
}
.nav-link{
  font-size: 1.1em !important;
}


.logo-container {
  width: 300px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

/* resize images */
.logo-container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-square-wrapper img {
  width:100%;
  height:auto;
}
.card-horizontal {
  display: block;
  flex: 1 1 auto;
  border: 1px solid #ffb6b9;
}
.container {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.card-header {
  background-color : #e9bebe;
  border: 1px solid #ffb6b9;
}
.btn-secondary {
  background-color: #ffb6b9;
  border: 1px solid #ffb6b9;
}
.btn-secondary:hover {
  background-color: #eea1a1;
  border: 1px solid #f4dada;
}

.btn-secondary-sm {
  background-color: #e6dfdf;
  border: 1px solid #ffb6b9;
}
.btn-secondary-sm:hover {
  background-color: #f0e9e9;
  border: 1px solid #f4dada;
}
.custom-file-control{
  background-color: #ffb6b9;
  border: 1px solid #f16262;
  color:#ffffff;
}
.mt-4{
  background-color : #e9bebe;
  border: 1px solid #ffb6b9;
}
.float-right img {
  height: 30px;
  width: 30px;
}
/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
