@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color:#000808;
}
body { 
  /* The image used */
  background-color: #f4dada;
}
.navbar{
  padding: .8rem;
  
}
.navbar-nav li{
padding-right: 20px;
}
.nav-link{
  font-size: 1.1em !important;
}


.logo-container {
  width: 300px;
  height: auto;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;

}

/* resize images */
.logo-container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img {
  width:100%;
  height:auto;
}
.btn-primary {
    background-color: #ffb6b9;
    border: 1px solid #ffb6b9;
}
.btn-primary:hover {
    background-color: #f4dada;
    border: 1px solid #f16262;
}
.btn-secondary-sm {
    background-color: #e6dfdf;
    border: 1px solid #ffb6b9;
}
.btn-secondary-sm:hover {
    background-color: #f0e9e9;
    border: 1px solid #f4dada;
}
.custom-file-control{
    background-color: #ffb6b9;
    border: 1px solid #f16262;
    color:#ffffff;
}