<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Need to think of better title</title>
</head>
<body>
    <form th:action="@{recipe/update/{recipeId}(recipeId = ${recipe.id}" method="POST">
        <table>
            <tr>
                <td>Title:</td>
                <td><input type="text" name="title" value="*{title}" /></td>
            </tr>
            <tr>
                <td>Description:</td>
                <!--need to turn this into textarea-->
                <td><input type="text" name="recipeBody" value="*{recipeBody}" /></td>
            </tr>
            <!-- undefined behavior for image update for now...
            <tr>
                <td><input type="file" name="file" accept="image/*"  required></td>
                <td colspan="2">
                    <input type="submit" value="Create recipe" />
                </td>
            </tr>
            -->
        </table>
    </form>
</body>
</html>